body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Eliminar desplazamiento horizontal */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 50px;
}

.header-title {
    color: white;
    font-size: 20px;
    text-align: center;
    flex: 1;
}

.telegram-button {
    background-color: white;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.banner {
    background-color: #007bff;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    position: relative;
}

.banner-text {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    animation: banner-move 20s linear infinite;
    white-space: nowrap;
}

@keyframes banner-move {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

main {
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minting-container {
    display: flex;
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    border-radius: 8px;
    margin-top: 20px;
}

.nft-preview img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.nft-details {
    flex: 1;
    margin: 0 20px;
    text-align: left;
}

.mint-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.mint-controls .wallet-button, .mint-controls .mint-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.password-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f1f1f1;
    font-size: 14px;
}

footer .center-text {
    text-align: center;
    flex: 1;
    font-family: 'Gruppo', sans-serif;
}

footer .right-text {
    text-align: right;
}
